body {
    background-color: #000;
    color: white;
}
.container {
    width: 50%;
    margin: auto;
    padding-top: 5%;
}
input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.4em;
}
label,
#submit-button {
    color: #ff358b;
    font-size: 1.2em;
    text-transform: uppercase;
}
#submit-button {
    display: block;
    width: 65%;
    margin: auto;
    padding: 1em 1.5em;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 5px 5px 5px 5px;
}
#submit-button:hover {
    background-color: #ff358b;
    color: #fff;
    border: 1px solid #000;
}
