body {
    background-color: #000;
    color: white;
}
.container {
    width: 50%;
    margin: auto;
    padding-top: 5%;
}
input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
}
