body {
    background-color: #00203b;
}
#container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
}
section {
    padding: 20px 40px;
}
h1 {
    color: #0072D4;
    font-size: 3em;
    text-align: center;
    margin: 0 0;
}
img {
    width: 100%;
    height: auto;
    margin: auto;
}

